@import 'compass/css3';

$transit-blue:#2486B6;
$blue: $transit-blue;
$btnBackground:#e7e7e7;
$btnBackgroundHighlight:darken(#e7e7e7, 10%);
$btnPrimaryBackgroundHighlight: $transit-blue;
$btnPrimaryBackground: lighten($transit-blue, 8%);

@import './bootstrap/variables';
@import './bootstrap/mixins';

$iconSpritePath:          "assets/glyphicons-halflings.png";
$iconWhiteSpritePath:     "assets/glyphicons-halflings-white.png";


body{ background:#efefef; font:12px 'Helvetica Nueue', 'Helvetica', 'Arial', sans-serif; color:black; }
html.transit-ui-active{ margin-right:310px; }
html.transit-ui-hidden{ margin-right:0; }
#transit_ui{ z-index:10000; position:fixed; top:0px; left:0px; right:0px; width:100%; height:1px; overflow:visible;
  @include transition(width .3s ease-out);
  
  @import "./bootstrap/type";
  @import "./bootstrap/forms";
  @import "./bootstrap/sprites";
  @import "./bootstrap/dropdowns";
  @import "./bootstrap/wells";
  @import "./bootstrap/component-animations";
  @import "./bootstrap/close";
  @import "./bootstrap/buttons";
  @import "./bootstrap/button-groups";
  @import "./bootstrap/alerts";
  @import "./bootstrap/navs";
  @import "./bootstrap/navbar";
  @import "./bootstrap/breadcrumbs";
  @import "./bootstrap/pagination";
  @import "./bootstrap/pager";
  @import "./bootstrap/modals";
  @import "./bootstrap/tooltip";
  @import "./bootstrap/popovers";
  @import "./bootstrap/thumbnails";
  @import "./bootstrap/labels-badges";
  @import "./bootstrap/progress-bars";
  @import "./bootstrap/accordion";
  @import "./bootstrap/utilities"; 

  &.hidden{ 
    div.transit-toolbar{ right:-400px; }
  }
  
  #transit_manager{
    position:fixed; top:0px; right:0px; bottom:0px; min-width:300px;
    @include background-image(linear-gradient(left, rgba(black, 0.8) 0%, rgba(black, 0.6) 15px, rgba(black, 0.6) 100%));
    border-left:1px solid black; @include transition(right .3s ease-in-out); 
    
    h1.header{ vertical-align:middle; @include background-image(linear-gradient($transit-blue 0%, darken($transit-blue, 7%) 100%)); color:white; margin:0; 
      text-indent:1em; font-size:14px; font-weight:normal; line-height:3; text-shadow:darken($transit-blue, 8%) 1px 1px 0;
    }
  }
  
  div.transit-manager{ margin:10px 10px 10px 15px; min-width:300px; background:white; padding:2px; border-bottom:5px solid rgba(black, 0.7); }
  
  div.alert{ margin-right:400px; margin-top:10px; margin-left:10px; position:relative;
    .close{ display:block; position:absolute; top:50%; margin-top:-12px; height:20px; font-size:18px; line-height:20px; right:20px; }
  }
  button.save{ font-size:12px; position:absolute; top:15px; right:20px; 
    i{ line-height:12px; vertical-align:middle; margin-top:-3px; margin-left:-2px; }
  }
  
  div.transit-toolbar{ 
    div.navbar{ margin-bottom:0; border-radius:0; }
    div.navbar-inner{ border-radius:0; }
    div.panels{ margin:0 0 1em 0; padding:2em 5px 1em 5px; background:white; min-height:150px; }
  }
}